# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Environment Variables
.env
.env.*

# Logs & DB
*.log
*.sqlite3
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


# model
*.pkl


# 추가
project/output/